/*Universal and Common use*/
* {
    margin: 0;
    padding: 0;
}
.button {
    background-color: blue;
    color: white;
    border: none;
}
.container{
    max-width: 1050px;
    margin: auto;
}
/*Nav Bar Decoration*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 8px 50px 15px;
    align-items: center;
}
.navbar button {
    width: 140px;
    height: 30px;
    border-radius: 8px;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    color: gray;
}
.nav-list li {
    list-style: none;
}
/*Header Decoration*/
.header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent), url("./assets/banner.jpg");
    height: 90vh;
    background-size: cover;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header h1{
   font-size:60px;
   margin: 50px 0 40px 0;
}
.header p{
     margin: 0 0 120px 0 ;
}
.banner-button{
     margin: 120px 0 50px 0 ;
     height: 40px;
     width: 130px;
     border-radius: 8px;
}
/*Body or Main part Decoration*/
.Introduction{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-content: center;
    border-radius: 8px;
    
}
.Speakers{
    margin-top: 50px;
}
.Speakers h1{
    text-align: center;
    padding: 20px;
}

.Introduction-Details{
    background-color: rgb(243, 242, 242);
    border-radius: 10px;
    overflow: hidden;
}
.Introduction-Details img{
    width: 100%;
    display: block;
}
.position{
    padding: 12px;
    display: grid;
    gap: 4px;
}
.position span{
    color: blue;
    font-size: 13px;
}
.position p{
    color: gray;
}


